body {
    margin:     0mm !important;
    padding:    0mm !important;
    width:      216mm !important;
    height:     297mm !important;
}
img
{
    width:      297mm !important;
}
.dane
{
    position:   absolute;
    margin-top: 50mm;
    margin-left:190mm;
    max-width:  90mm;
    max-height: 40mm;
}