<?php echo $this->Html->css('pdf.css', ['fullBase' => true]);?>
<?php echo $this->Html->image('pdf_header.jpg', ['fullBase' => true]);?>

<div class="dane">
<h4><?php echo $firm->first_name." ".$firm->last_name;?></h4>
<h4><?php echo $firm->main_adr_street;?></h4>
<h4><?php echo $firm->main_adr_city." ".$firm->post_adr_code;?></h4>
</div>